{% for pool in lb_ip_pools %}
---
apiVersion: cilium.io/v2
kind: CiliumLoadBalancerIPPool
metadata:
  name: {{ pool.name }}
spec:
{% if pool.service_selector is defined %}
  serviceSelector:
{{ pool.service_selector | to_nice_yaml(indent=2) | trim | indent(4, true) }}
{% endif %}
  blocks:
{% for block in pool.blocks %}
    - start: "{{ block.start }}"
      stop: "{{ block.stop }}"
{% endfor %}
{% endfor %}
---
apiVersion: cilium.io/v2alpha1
kind: CiliumL2AnnouncementPolicy
metadata:
  name: {{ l2_announce_policy_name }}
spec:
  interfaces:
{% for interface in l2_announce_interfaces %}
    - "{{ interface }}"
{% endfor %}
  externalIPs: true
  loadBalancerIPs: true
