# Copy to .env, uncomment the environment you are working on, then:
#   set -a; source .env; set +a

# MACOS
ORCHARD_URL=http://192.0.2.20:6120
ORCHARD_SERVICE_ACCOUNT_NAME=terraform
ORCHARD_SERVICE_ACCOUNT_TOKEN=REPLACE_ME

# MAC MINI
# ORCHARD_URL=http://192.0.2.10:6120
# ORCHARD_SERVICE_ACCOUNT_NAME=terraform
# ORCHARD_SERVICE_ACCOUNT_TOKEN=REPLACE_ME

ANSIBLE_VAULT_PASSWORD_FILE=~/.ansible_vault_pass
