<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ orchard_controller_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/orchard</string>
        <string>controller</string>
        <string>run</string>
        <string>--insecure-no-tls</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/var/root</string>
        <key>PATH</key><string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>ORCHARD_BOOTSTRAP_ADMIN_TOKEN</key><string>{{ orchard_bootstrap_admin_token }}</string>
    </dict>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>
    <key>StandardOutPath</key><string>{{ orchard_log_dir }}/controller.out.log</string>
    <key>StandardErrorPath</key><string>{{ orchard_log_dir }}/controller.err.log</string>
</dict>
</plist>
