apiVersion: v1
kind: Secret
metadata:
  name: {{ bootstrap_token_secret_name }}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
stringData:
  description: "Bootstrap token for kubelet TLS bootstrapping"
  token-id: {{ kubelet_bootstrap_token_id }}
  token-secret: {{ kubelet_bootstrap_token_secret }}
  expiration: {{ bootstrap_token_expiration }}
  usage-bootstrap-authentication: "true"
  usage-bootstrap-signing: "true"
  auth-extra-groups: {{ bootstrap_group }}
