apiVersion: v1
kind: Config
preferences: {}
clusters:
  - name: bootstrap
    cluster:
      certificate-authority: {{ kube_ca }}
      server: https://{{ loadbalancer_ip }}:{{ apiserver_port }}
contexts:
  - name: bootstrap
    context:
      cluster: bootstrap
      user: kubelet-bootstrap
current-context: bootstrap
users:
  - name: kubelet-bootstrap
    user:
      token: {{ bootstrap_token }}
