frontend kubernetes
    bind 0.0.0.0:{{ apiserver_port }}
    option tcplog
    mode tcp
    default_backend kubernetes-controlplane-nodes

backend kubernetes-controlplane-nodes
    mode tcp
    balance roundrobin
    option tcp-check
{% for host in groups['master'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:{{ apiserver_port }} check fall 3 rise 2
{% endfor %}
