[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --authentication-kubeconfig={{ kubeconfig_dir }}/kube-controller-manager.kubeconfig \
  --authorization-kubeconfig={{ kubeconfig_dir }}/kube-controller-manager.kubeconfig \
  --bind-address=127.0.0.1 \
  --client-ca-file={{ kube_ca }} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ kube_ca }} \
  --cluster-signing-key-file={{ kube_ca_key }} \
  --controllers=*,bootstrapsigner,tokencleaner \
  --kubeconfig={{ kubeconfig_dir }}/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --requestheader-client-ca-file={{ kube_ca }} \
  --root-ca-file={{ kube_ca }} \
  --service-account-private-key-file={{ key_dir }}/service-account.key \
  --service-cluster-ip-range={{ service_cidr }} \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
