#!/usr/bin/expect -f
set timeout 120
spawn ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
  {{ node_guest_user }}@[lindex $argv 0] \
  "mkdir -p ~/.ssh && chmod 700 ~/.ssh && printf '%s\\n%s\\n' '{{ node_image_ansible_pubkey }}' '{{ bake_pubkey }}' >> ~/.ssh/authorized_keys && chmod 600 ~/.ssh/authorized_keys && echo SEEDED"
expect {
  -re "(P|p)assword:" { send "{{ node_guest_password }}\r"; exp_continue }
  "SEEDED" { }
  eof
}
